@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;500;600;700&display=swap');
*{
    font-family: 'Signika', sans-serif !important;
}

.loading-logo{
    width: 4rem;
    height: 4rem;
    animation: rotate 2s linear 0s infinite reverse;
}

@keyframes rotate{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}